*.o
*.depends
coff2flat
coff2noff
disassemble
readnoff
nachos
.cache
compile_commands.json
*.coff
*.txt
# Para users de VS Code

/.vscode/

# Ejecutables, archivos swap y archivos innecesarios de make

/**/*.o

/**/SWAP.*

/**/*.depends

/**/*.coff

# Ejecutables de bin

/bin/coff2flat

/bin/coff2noff

/bin/disassemble

/bin/readnoff

# Ignorar todos los ejecutables de nachos compilados

/**/nachos

# Quiero ignorar los programas de usuario (que no tienen extension) pero no su codigo fuente y archivos utiles

/userland/*

!/userland/*.c

!/userland/*.s

!/userland/Makefile

!/userland/arrangement.ld

# Disco simulado de la máquina de Nachos

/**/DISK

# Ignorar txts en carpeta de código

/**/*.txt
